# Data Science Project

## Research hypothesis:  'What defines a city in the US with a high crime rate? and can we predict the crime rate of a city?'

Our motivation is to see what are the causes that bring to the decline of safety in a city. We can see via news and reports that a city with strong economy does not necessarily means low rate of crime. We wish to know the characteristics of a city with a high crime index and build a model that could predict based on them properties the crime rate of a city.
The data will be on cities of above 100,000 inhabitants.We only try to layout the data and conclud from it.

# Data Acquisition

The main data sources for this projects:
1. United States Census Bureau - https://www.census.gov/
     
2. City-Data - https://www.city-data.com/

### Notes
- We couldn't get any information regarding about the hispanic cummunity regarding to populations.The hispanic cummunity is an huge cummunity so the lack of data on them is quite significant.

In [1]:
import censos_stat.constants as const
import re
import bs4
from bs4 import BeautifulSoup  
import pandas as pd
import scipy as sc
import numpy as np
import requests as req
from selenium import webdriver
import crime_stat.crime_consts as const_crime
import time

In [2]:

def json_to_dataframe(response):
    return pd.DataFrame(response.json()[1:],columns=const.COLS+['State','Place'])

In [3]:
col_tables = ','.join(const.TABLES_CODES)

Fetching data from census.gov by years. 
We getting specific tables based on the infornation we need.

In [4]:
dfs = []
years = []
for year in const.YEARS:
    url = f"https://api.census.gov/data/{year}/acs/acs1?get=NAME,{col_tables}&for=place:*&in=state:*&key={const.KEY}"
    try:
        response = req.request("GET",url)
    except requests.exceptions.HTTPError as errh:
        print ("Http Error:",errh,", in year: ",year)
    except requests.exceptions.ConnectionError as errc:
        print ("Error Connecting:",errc,", in year: ",year)
    except requests.exceptions.Timeout as errt:
        print ("Timeout Error:",err,", in year: ",yeart)
    except requests.exceptions.RequestException as err:
        print ("Something Else",err, ", in year: ",year)
    df=json_to_dataframe(response)
    years.append(np.full(shape=df.shape[0],fill_value=year))
    dfs.append(json_to_dataframe(response))

In [5]:
len(dfs)

7

In [6]:
data = pd.concat(dfs,ignore_index=True)
data

,Name,total_population,Median_age,Median_age_Male,Median_age_Female,White_alone,Black_or_African_American alone,Total:_American_Indian_and_Alaska_Native alone,Total:_Asian_alone,Hawaiian_and_Pacific,...,Professional_school_degree,Household_type,Family_households:,Family_households:_Married-couple_family,male_housholder_no_spouse,female_housholder_no_spouse,Nonfamily_households:,Median_gross_rent,State,Place
0,"Auburn city, Alabama",66254,25.2,25.1,25.3,None,None,None,None,None,...,None,26156,13269,10747,321,2201,12887,770,01,03076
1,"Birmingham city, Alabama",210080,36.7,33.0,40.6,58595,142107,1323,3497,0,...,3764,93300,46816,24531,3452,18833,46484,839,01,07000
2,"Dothan city, Alabama",68522,41.0,38.6,43.3,40302,24139,77,847,21,...,1072,27103,16607,11017,893,4697,10496,734,01,21184
3,"Hoover city, Alabama",85772,36.9,36.9,37.2,61453,16972,0,3659,0,...,None,32461,23672,18441,1590,3641,8789,1153,01,35896
4,"Huntsville city, Alabama",201594,35.8,35.0,37.7,120229,65522,607,3498,132,...,2099,88930,52166,35403,4325,12438,36764,846,01,37000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4247,"Waldorf CDP, Maryland",69685,35.6,34.2,37.2,23796,39863,445,2725,0,...,213,25267,17218,10729,1424,5065,8049,1473,24,81175
4248,"Boston city, Massachusetts",644710,31.7,31.2,32.2,341007,155619,3161,57743,0,...,18335,251757,120295,64666,10265,45364,131462,1263,25,07000
4249,"Brockton city, Massachusetts",94101,35.4,33.8,36.0,45220,38046,395,1908,0,...,39,31800,22511,12620,2267,7624,9289,1074,25,09000
4250,"Cambridge city, Massachusetts",107276,30.7,30.5,31.0,71166,11936,280,16141,78,...,4417,43140,18789,13776,1039,3974,24351,1642,25,11000
4251,"Fall River city, Massachusetts",88686,38.5,35.9,40.8,75638,3954,0,1770,221,...,441,38846,22225,12545,2083,7597,16621,722,25,23000

In [7]:
year = np.concatenate(years).ravel()

In [8]:
len(year)

4252

In [9]:
data['Year'] = year

In [2]:
data = pd.read_csv('./censos_data.csv')
data

,Name,total_population,Median_age,Median_age_Male,Median_age_Female,White_alone,Black_or_African_American alone,Total:_American_Indian_and_Alaska_Native alone,Total:_Asian_alone,Hawaiian_and_Pacific,...,Household_type,Family_households:,Family_households:_Married-couple_family,male_housholder_no_spouse,female_housholder_no_spouse,Nonfamily_households:,Median_gross_rent,State,Place,Year
0,"Auburn city, Alabama",66254,25.2,25.1,25.3,NaN,NaN,NaN,NaN,NaN,...,26156,13269,10747,321,2201,12887,770,1,3076,2019
1,"Birmingham city, Alabama",210080,36.7,33.0,40.6,58595.0,142107.0,1323.0,3497.0,0.0,...,93300,46816,24531,3452,18833,46484,839,1,7000,2019
2,"Dothan city, Alabama",68522,41.0,38.6,43.3,40302.0,24139.0,77.0,847.0,21.0,...,27103,16607,11017,893,4697,10496,734,1,21184,2019
3,"Hoover city, Alabama",85772,36.9,36.9,37.2,61453.0,16972.0,0.0,3659.0,0.0,...,32461,23672,18441,1590,3641,8789,1153,1,35896,2019
4,"Huntsville city, Alabama",201594,35.8,35.0,37.7,120229.0,65522.0,607.0,3498.0,132.0,...,88930,52166,35403,4325,12438,36764,846,1,37000,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4247,"Waldorf CDP, Maryland",69685,35.6,34.2,37.2,23796.0,39863.0,445.0,2725.0,0.0,...,25267,17218,10729,1424,5065,8049,1473,24,81175,2013
4248,"Boston city, Massachusetts",644710,31.7,31.2,32.2,341007.0,155619.0,3161.0,57743.0,0.0,...,251757,120295,64666,10265,45364,131462,1263,25,7000,2013
4249,"Brockton city, Massachusetts",94101,35.4,33.8,36.0,45220.0,38046.0,395.0,1908.0,0.0,...,31800,22511,12620,2267,7624,9289,1074,25,9000,2013
4250,"Cambridge city, Massachusetts",107276,30.7,30.5,31.0,71166.0,11936.0,280.0,16141.0,78.0,...,43140,18789,13776,1039,3974,24351,1642,25,11000,2013
4251,"Fall River city, Massachusetts",88686,38.5,35.9,40.8,75638.0,3954.0,0.0,1770.0,221.0,...,38846,22225,12545,2083,7597,16621,722,25,23000,2013

In [3]:
data.total_population = data.total_population.astype('int32')
data.total_population

0        66254
1       210080
2        68522
3        85772
4       201594
         ...
4247     69685
4248    644710
4249     94101
4250    107276
4251     88686
Name: total_population, Length: 4252, dtype: int32

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4252 entries, 0 to 4251
Data columns (total 49 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Name                                                        4252 non-null   object
 1   total_population                                            4252 non-null   int32
 2   Median_age                                                  4252 non-null   float64
 3   Median_age_Male                                             4252 non-null   float64
 4   Median_age_Female                                           4252 non-null   float64
 5   White_alone                                                 4147 non-null   float64
 6   Black_or_African_American alone                             4147 non-null   float64
 7   Total:_American_Indian_and_Alaska_Native alone              4147 non-null   float64
 8   Total:_Asian_alone                                          4147 non-null   float64
 9   Hawaiian_and_Pacific                                        4147 non-null   float64
 10  Other_race                                                  4147 non-null   float64
 11  Tenure_units                                                4252 non-null   int64
 12  Owner occupied                                              4252 non-null   int64
 13  Renter occupied                                             4252 non-null   int64
 14  Median_household_income                                     4252 non-null   int64
 15  Income_below_poverty_level:                                 4251 non-null   float64
 16  Income_below_poverty_level_Family_households:               4251 non-null   float64
 17  Income_below_poverty_level_Family_households_Married        4251 non-null   float64
 18  Income_below_poverty_level_Nonfamily_households:            4251 non-null   float64
 19  Income_above_poverty_level:                                 4251 non-null   float64
 20  Income_at_or_above_poverty_level_Family households:         4251 non-null   float64
 21  Income_at_or_above_poverty_level_Family_households_Married  4251 non-null   float64
 22  Income_at_or_above_poverty_level_Nonfamily_households:      4251 non-null   float64
 23  Employment_status                                           4252 non-null   int64
 24  In_labor_force:                                             4252 non-null   int64
 25  Civilian_employed                                           4252 non-null   int64
 26  Civilian_unemployed                                         4252 non-null   int64
 27  Armed_Forces                                                4252 non-null   int64
 28  Not_in_labor_force                                          4252 non-null   int64
 29  Educational_attainment                                      3881 non-null   float64
 30  No_schooling_complete                                       3881 non-null   float64
 31  Regular_high_school_diploma                                 3881 non-null   float64
 32  _GED_or_alternative_credential                              3881 non-null   float64
 33  Some_college_less_than_1_year                               3881 non-null   float64
 34  Some_college_1_or_more_years_no_degree                      3881 non-null   float64
 35  Associates_degree                                           3881 non-null   float64
 36  Bachelor's_degree                                           3881 non-null   float64
 37  Master's_degree                                             3881 non-null   float64
 38  Professional_school_degree                                  3881 non-null   float64
 39  Household_type                                              4252 non-null   int64
 40  Family_households:                                          4252 non-null   int64
 41  Family_households:_Married-couple_family                    4252 non-null   int64
 42  male_housholder_no_spouse                                   4252 non-null   int64
 43  female_housholder_no_spouse                                 4252 non-null   int64
 44  Nonfamily_households:                                       4252 non-null   int64
 45  Median_gross_rent                                           4252 non-null   int64
 46  State                                                       4252 non-null   int64
 47  Place                                                       4252 non-null   int64
 48  Year                                                        4252 non-null   int64
dtypes: float64(27), int32(1), int64(20), object(1)
memory usage: 1.6+ MB

Removing all the cities below 100,000 inhabitants.

In [5]:
data = data[data.total_population >= 100000]
data = data[data['Name'].str.endswith("Puerto Rico") == False]
data

,Name,total_population,Median_age,Median_age_Male,Median_age_Female,White_alone,Black_or_African_American alone,Total:_American_Indian_and_Alaska_Native alone,Total:_Asian_alone,Hawaiian_and_Pacific,...,Household_type,Family_households:,Family_households:_Married-couple_family,male_housholder_no_spouse,female_housholder_no_spouse,Nonfamily_households:,Median_gross_rent,State,Place,Year
1,"Birmingham city, Alabama",210080,36.7,33.0,40.6,58595.0,142107.0,1323.0,3497.0,0.0,...,93300,46816,24531,3452,18833,46484,839,1,7000,2019
4,"Huntsville city, Alabama",201594,35.8,35.0,37.7,120229.0,65522.0,607.0,3498.0,132.0,...,88930,52166,35403,4325,12438,36764,846,1,37000,2019
5,"Mobile city, Alabama",188710,37.5,35.7,40.0,73758.0,104747.0,511.0,3487.0,61.0,...,77628,41260,26133,2763,12364,36368,876,1,50000,2019
6,"Montgomery city, Alabama",198525,35.6,33.7,38.7,62981.0,120428.0,591.0,6933.0,0.0,...,78225,45031,25893,2918,16220,33194,875,1,51000,2019
7,"Tuscaloosa city, Alabama",101133,31.0,27.5,34.7,50849.0,46061.0,0.0,2808.0,0.0,...,36779,20176,12508,2639,5029,16603,886,1,77256,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4236,"Shreveport city, Louisiana",200191,34.6,32.4,36.5,79332.0,112011.0,1122.0,2771.0,235.0,...,77784,45603,24443,3401,17759,32181,711,22,70000,2013
4238,"Baltimore city, Maryland",622104,34.6,33.4,35.8,187993.0,391451.0,2668.0,14728.0,356.0,...,244114,121239,59206,10435,51598,122875,917,24,4000,2013
4240,"Columbia CDP, Maryland",102907,38.1,36.4,40.5,55539.0,30745.0,698.0,11951.0,0.0,...,39823,26560,19822,1236,5502,13263,1540,24,19125,2013
4248,"Boston city, Massachusetts",644710,31.7,31.2,32.2,341007.0,155619.0,3161.0,57743.0,0.0,...,251757,120295,64666,10265,45364,131462,1263,25,7000,2013
4250,"Cambridge city, Massachusetts",107276,30.7,30.5,31.0,71166.0,11936.0,280.0,16141.0,78.0,...,43140,18789,13776,1039,3974,24351,1642,25,11000,2013

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216 entries, 1 to 4250
Data columns (total 49 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Name                                                        2216 non-null   object
 1   total_population                                            2216 non-null   int32
 2   Median_age                                                  2216 non-null   float64
 3   Median_age_Male                                             2216 non-null   float64
 4   Median_age_Female                                           2216 non-null   float64
 5   White_alone                                                 2210 non-null   float64
 6   Black_or_African_American alone                             2210 non-null   float64
 7   Total:_American_Indian_and_Alaska_Native alone              2210 non-null   float64
 8   Total:_Asian_alone                                          2210 non-null   float64
 9   Hawaiian_and_Pacific                                        2210 non-null   float64
 10  Other_race                                                  2210 non-null   float64
 11  Tenure_units                                                2216 non-null   int64
 12  Owner occupied                                              2216 non-null   int64
 13  Renter occupied                                             2216 non-null   int64
 14  Median_household_income                                     2216 non-null   int64
 15  Income_below_poverty_level:                                 2216 non-null   float64
 16  Income_below_poverty_level_Family_households:               2216 non-null   float64
 17  Income_below_poverty_level_Family_households_Married        2216 non-null   float64
 18  Income_below_poverty_level_Nonfamily_households:            2216 non-null   float64
 19  Income_above_poverty_level:                                 2216 non-null   float64
 20  Income_at_or_above_poverty_level_Family households:         2216 non-null   float64
 21  Income_at_or_above_poverty_level_Family_households_Married  2216 non-null   float64
 22  Income_at_or_above_poverty_level_Nonfamily_households:      2216 non-null   float64
 23  Employment_status                                           2216 non-null   int64
 24  In_labor_force:                                             2216 non-null   int64
 25  Civilian_employed                                           2216 non-null   int64
 26  Civilian_unemployed                                         2216 non-null   int64
 27  Armed_Forces                                                2216 non-null   int64
 28  Not_in_labor_force                                          2216 non-null   int64
 29  Educational_attainment                                      2171 non-null   float64
 30  No_schooling_complete                                       2171 non-null   float64
 31  Regular_high_school_diploma                                 2171 non-null   float64
 32  _GED_or_alternative_credential                              2171 non-null   float64
 33  Some_college_less_than_1_year                               2171 non-null   float64
 34  Some_college_1_or_more_years_no_degree                      2171 non-null   float64
 35  Associates_degree                                           2171 non-null   float64
 36  Bachelor's_degree                                           2171 non-null   float64
 37  Master's_degree                                             2171 non-null   float64
 38  Professional_school_degree                                  2171 non-null   float64
 39  Household_type                                              2216 non-null   int64
 40  Family_households:                                          2216 non-null   int64
 41  Family_households:_Married-couple_family                    2216 non-null   int64
 42  male_housholder_no_spouse                                   2216 non-null   int64
 43  female_housholder_no_spouse                                 2216 non-null   int64
 44  Nonfamily_households:                                       2216 non-null   int64
 45  Median_gross_rent                                           2216 non-null   int64
 46  State                                                       2216 non-null   int64
 47  Place                                                       2216 non-null   int64
 48  Year                                                        2216 non-null   int64
dtypes: float64(27), int32(1), int64(20), object(1)
memory usage: 857.0+ KB

In [7]:
data.to_csv('./censos_data1.csv')

In [26]:
cities = data['Name'].unique().tolist()
len(cities)

331

In [27]:

#creating list of tuples with the cities names
city_names = []
for city in cities:
    #removing unnecessary strings from the name of the city.
    if city == 'Anchorage municipality, Alaska':
        city_names.append(('Anchorage, Alaska',city))
        continue
    if city == 'Louisville/Jefferson County metro government (balance), Kentucky':
        continue
    if city == 'Urban Honolulu CDP, Hawaii':
        city_names.append(('Honolulu, Hawaii',city))
        continue
    pattern = re.search(r"(.*) \(.*\)(.*)",city)
    if pattern:
        name = pattern.group(1) + pattern.group(2)
        city_names.append((name.replace(" city",""),city))
        continue
    if city.find("CDP") >= 0:
        city_names.append((city.replace(" CDP",""),city))
        continue
    else:
        city_names.append((city.replace(" city",""),city))
    
city_names

[('Birmingham, Alabama', 'Birmingham city, Alabama'),
 ('Huntsville, Alabama', 'Huntsville city, Alabama'),
 ('Mobile, Alabama', 'Mobile city, Alabama'),
 ('Montgomery, Alabama', 'Montgomery city, Alabama'),
 ('Tuscaloosa, Alabama', 'Tuscaloosa city, Alabama'),
 ('Anchorage, Alaska', 'Anchorage municipality, Alaska'),
 ('Chandler, Arizona', 'Chandler city, Arizona'),
 ('Gilbert town, Arizona', 'Gilbert town, Arizona'),
 ('Glendale, Arizona', 'Glendale city, Arizona'),
 ('Mesa, Arizona', 'Mesa city, Arizona'),
 ('Peoria, Arizona', 'Peoria city, Arizona'),
 ('Phoenix, Arizona', 'Phoenix city, Arizona'),
 ('San Tan Valley, Arizona', 'San Tan Valley CDP, Arizona'),
 ('Scottsdale, Arizona', 'Scottsdale city, Arizona'),
 ('Surprise, Arizona', 'Surprise city, Arizona'),
 ('Tempe, Arizona', 'Tempe city, Arizona'),
 ('Tucson, Arizona', 'Tucson city, Arizona'),
 ('Little Rock, Arkansas', 'Little Rock city, Arkansas'),
 ('Anaheim, California', 'Anaheim city, California'),
 ('Antioch, California', 'Antioch city, California'),
 ('Arden-Arcade, California', 'Arden-Arcade CDP, California'),
 ('Bakersfield, California', 'Bakersfield city, California'),
 ('Berkeley, California', 'Berkeley city, California'),
 ('Burbank, California', 'Burbank city, California'),
 ('Carlsbad, California', 'Carlsbad city, California'),
 ('Chico, California', 'Chico city, California'),
 ('Chula Vista, California', 'Chula Vista city, California'),
 ('Clovis, California', 'Clovis city, California'),
 ('Concord, California', 'Concord city, California'),
 ('Corona, California', 'Corona city, California'),
 ('Costa Mesa, California', 'Costa Mesa city, California'),
 ('Daly City, California', 'Daly City city, California'),
 ('Downey, California', 'Downey city, California'),
 ('East Los Angeles, California', 'East Los Angeles CDP, California'),
 ('El Cajon, California', 'El Cajon city, California'),
 ('Elk Grove, California', 'Elk Grove city, California'),
 ('El Monte, California', 'El Monte city, California'),
 ('Escondido, California', 'Escondido city, California'),
 ('Fairfield, California', 'Fairfield city, California'),
 ('Fontana, California', 'Fontana city, California'),
 ('Fremont, California', 'Fremont city, California'),
 ('Fresno, California', 'Fresno city, California'),
 ('Fullerton, California', 'Fullerton city, California'),
 ('Garden Grove, California', 'Garden Grove city, California'),
 ('Glendale, California', 'Glendale city, California'),
 ('Hayward, California', 'Hayward city, California'),
 ('Huntington Beach, California', 'Huntington Beach city, California'),
 ('Inglewood, California', 'Inglewood city, California'),
 ('Irvine, California', 'Irvine city, California'),
 ('Jurupa Valley, California', 'Jurupa Valley city, California'),
 ('Lancaster, California', 'Lancaster city, California'),
 ('Long Beach, California', 'Long Beach city, California'),
 ('Los Angeles, California', 'Los Angeles city, California'),
 ('Modesto, California', 'Modesto city, California'),
 ('Moreno Valley, California', 'Moreno Valley city, California'),
 ('Murrieta, California', 'Murrieta city, California'),
 ('Norwalk, California', 'Norwalk city, California'),
 ('Oakland, California', 'Oakland city, California'),
 ('Oceanside, California', 'Oceanside city, California'),
 ('Ontario, California', 'Ontario city, California'),
 ('Orange, California', 'Orange city, California'),
 ('Oxnard, California', 'Oxnard city, California'),
 ('Palmdale, California', 'Palmdale city, California'),
 ('Pasadena, California', 'Pasadena city, California'),
 ('Pomona, California', 'Pomona city, California'),
 ('Rancho Cucamonga, California', 'Rancho Cucamonga city, California'),
 ('Rialto, California', 'Rialto city, California'),
 ('Richmond, California', 'Richmond city, California'),
 ('Riverside, California', 'Riverside city, California'),
 ('Roseville, California', 'Roseville city, California'),
 ('Sacramento, California', 'Sacramento city, California'),
 ('Salinas, California', 'Salinas city, California'),
 ('San Bernardino, California', 'San Bernardino city, California'),
 ('San Buenaventura, California',
  'San Buenaventura (Ventura) city, California'),
 ('San Diego, California', 'San Diego city, California'),
 ('San Francisco, California', 'San Francisco city, California'),
 ('San Jose, California', 'San Jose city, California'),
 ('San Mateo, California', 'San Mateo city, California'),
 ('Santa Ana, California', 'Santa Ana city, California'),
 ('Santa Clara, California', 'Santa Clara city, California'),
 ('Santa Clarita, California', 'Santa Clarita city, California'),
 ('Santa Maria, California', 'Santa Maria city, California'),
 ('Santa Rosa, California', 'Santa Rosa city, California'),
 ('Simi Valley, California', 'Simi Valley city, California'),
 ('Stockton, California', 'Stockton city, California'),
 ('Sunnyvale, California', 'Sunnyvale city, California'),
 ('Temecula, California', 'Temecula city, California'),
 ('Thousand Oaks, California', 'Thousand Oaks city, California'),
 ('Torrance, California', 'Torrance city, California'),
 ('Vacaville, California', 'Vacaville city, California'),
 ('Vallejo, California', 'Vallejo city, California'),
 ('Victorville, California', 'Victorville city, California'),
 ('Visalia, California', 'Visalia city, California'),
 ('Vista, California', 'Vista city, California'),
 ('West Covina, California', 'West Covina city, California'),
 ('Arvada, Colorado', 'Arvada city, Colorado'),
 ('Aurora, Colorado', 'Aurora city, Colorado'),
 ('Boulder, Colorado', 'Boulder city, Colorado'),
 ('Centennial, Colorado', 'Centennial city, Colorado'),
 ('Colorado Springs, Colorado', 'Colorado Springs city, Colorado'),
 ('Denver, Colorado', 'Denver city, Colorado'),
 ('Fort Collins, Colorado', 'Fort Collins city, Colorado'),
 ('Greeley, Colorado', 'Greeley city, Colorado'),
 ('Lakewood, Colorado', 'Lakewood city, Colorado'),
 ('Pueblo, Colorado', 'Pueblo city, Colorado'),
 ('Thornton, Colorado', 'Thornton city, Colorado'),
 ('Westminster, Colorado', 'Westminster city, Colorado'),
 ('Bridgeport, Connecticut', 'Bridgeport city, Connecticut'),
 ('Hartford, Connecticut', 'Hartford city, Connecticut'),
 ('New Haven, Connecticut', 'New Haven city, Connecticut'),
 ('Stamford, Connecticut', 'Stamford city, Connecticut'),
 ('Waterbury, Connecticut', 'Waterbury city, Connecticut'),
 ('Washington, District of Columbia', 'Washington city, District of Columbia'),
 ('Brandon, Florida', 'Brandon CDP, Florida'),
 ('Cape Coral, Florida', 'Cape Coral city, Florida'),
 ('Clearwater, Florida', 'Clearwater city, Florida'),
 ('Coral Springs, Florida', 'Coral Springs city, Florida'),
 ('Davie town, Florida', 'Davie town, Florida'),
 ('Fort Lauderdale, Florida', 'Fort Lauderdale city, Florida'),
 ('Gainesville, Florida', 'Gainesville city, Florida'),
 ('Hialeah, Florida', 'Hialeah city, Florida'),
 ('Hollywood, Florida', 'Hollywood city, Florida'),
 ('Jacksonville, Florida', 'Jacksonville city, Florida'),
 ('Lakeland, Florida', 'Lakeland city, Florida'),
 ('Lehigh Acres, Florida', 'Lehigh Acres CDP, Florida'),
 ('Miami, Florida', 'Miami city, Florida'),
 ('Miami Gardens, Florida', 'Miami Gardens city, Florida'),
 ('Miramar, Florida', 'Miramar city, Florida'),
 ('Orlando, Florida', 'Orlando city, Florida'),
 ('Palm Bay, Florida', 'Palm Bay city, Florida'),
 ('Pembroke Pines, Florida', 'Pembroke Pines city, Florida'),
 ('Pompano Beach, Florida', 'Pompano Beach city, Florida'),
 ('Port St. Lucie, Florida', 'Port St. Lucie city, Florida'),
 ('St. Petersburg, Florida', 'St. Petersburg city, Florida'),
 ('Spring Hill, Florida', 'Spring Hill CDP, Florida'),
 ('Tallahassee, Florida', 'Tallahassee city, Florida'),
 ('Tampa, Florida', 'Tampa city, Florida'),
 ('West Palm Beach, Florida', 'West Palm Beach city, Florida'),
 ('Athens-Clarke County unified government, Georgia',
  'Athens-Clarke County unified government (balance), Georgia'),
 ('Atlanta, Georgia', 'Atlanta city, Georgia'),
 ('Augusta-Richmond County consolidated government, Georgia',
  'Augusta-Richmond County consolidated government (balance), Georgia'),
 ('Columbus, Georgia', 'Columbus city, Georgia'),
 ('Macon-Bibb County, Georgia', 'Macon-Bibb County, Georgia'),
 ('Sandy Springs, Georgia', 'Sandy Springs city, Georgia'),
 ('Savannah, Georgia', 'Savannah city, Georgia'),
 ('Honolulu, Hawaii', 'Urban Honolulu CDP, Hawaii'),
 ('Boise City, Idaho', 'Boise City city, Idaho'),
 ('Meridian, Idaho', 'Meridian city, Idaho'),
 ('Aurora, Illinois', 'Aurora city, Illinois'),
 ('Chicago, Illinois', 'Chicago city, Illinois'),
 ('Elgin, Illinois', 'Elgin city, Illinois'),
 ('Joliet, Illinois', 'Joliet city, Illinois'),
 ('Naperville, Illinois', 'Naperville city, Illinois'),
 ('Peoria, Illinois', 'Peoria city, Illinois'),
 ('Rockford, Illinois', 'Rockford city, Illinois'),
 ('Springfield, Illinois', 'Springfield city, Illinois'),
 ('Carmel, Indiana', 'Carmel city, Indiana'),
 ('Evansville, Indiana', 'Evansville city, Indiana'),
 ('Fort Wayne, Indiana', 'Fort Wayne city, Indiana'),
 ('Indianapolis, Indiana', 'Indianapolis city (balance), Indiana'),
 ('South Bend, Indiana', 'South Bend city, Indiana'),
 ('Cedar Rapids, Iowa', 'Cedar Rapids city, Iowa'),
 ('Davenport, Iowa', 'Davenport city, Iowa'),
 ('Des Moines, Iowa', 'Des Moines city, Iowa'),
 ('Kansas City, Kansas', 'Kansas City city, Kansas'),
 ('Olathe, Kansas', 'Olathe city, Kansas'),
 ('Overland Park, Kansas', 'Overland Park city, Kansas'),
 ('Topeka, Kansas', 'Topeka city, Kansas'),
 ('Wichita, Kansas', 'Wichita city, Kansas'),
 ('Lexington-Fayette urban county, Kentucky',
  'Lexington-Fayette urban county, Kentucky'),
 ('Baton Rouge, Louisiana', 'Baton Rouge city, Louisiana'),
 ('Lafayette, Louisiana', 'Lafayette city, Louisiana'),
 ('Metairie, Louisiana', 'Metairie CDP, Louisiana'),
 ('New Orleans, Louisiana', 'New Orleans city, Louisiana'),
 ('Shreveport, Louisiana', 'Shreveport city, Louisiana'),
 ('Baltimore, Maryland', 'Baltimore city, Maryland'),
 ('Columbia, Maryland', 'Columbia CDP, Maryland'),
 ('Boston, Massachusetts', 'Boston city, Massachusetts'),
 ('Cambridge, Massachusetts', 'Cambridge city, Massachusetts'),
 ('Lowell, Massachusetts', 'Lowell city, Massachusetts'),
 ('Springfield, Massachusetts', 'Springfield city, Massachusetts'),
 ('Worcester, Massachusetts', 'Worcester city, Massachusetts'),
 ('Ann Arbor, Michigan', 'Ann Arbor city, Michigan'),
 ('Detroit, Michigan', 'Detroit city, Michigan'),
 ('Grand Rapids, Michigan', 'Grand Rapids city, Michigan'),
 ('Lansing, Michigan', 'Lansing city, Michigan'),
 ('Sterling Heights, Michigan', 'Sterling Heights city, Michigan'),
 ('Warren, Michigan', 'Warren city, Michigan'),
 ('Minneapolis, Minnesota', 'Minneapolis city, Minnesota'),
 ('Rochester, Minnesota', 'Rochester city, Minnesota'),
 ('St. Paul, Minnesota', 'St. Paul city, Minnesota'),
 ('Jackson, Mississippi', 'Jackson city, Mississippi'),
 ('Columbia, Missouri', 'Columbia city, Missouri'),
 ('Independence, Missouri', 'Independence city, Missouri'),
 ('Kansas City, Missouri', 'Kansas City city, Missouri'),
 ('St. Louis, Missouri', 'St. Louis city, Missouri'),
 ('Springfield, Missouri', 'Springfield city, Missouri'),
 ('Billings, Montana', 'Billings city, Montana'),
 ('Lincoln, Nebraska', 'Lincoln city, Nebraska'),
 ('Omaha, Nebraska', 'Omaha city, Nebraska'),
 ('Enterprise, Nevada', 'Enterprise CDP, Nevada'),
 ('Henderson, Nevada', 'Henderson city, Nevada'),
 ('Las Vegas, Nevada', 'Las Vegas city, Nevada'),
 ('North Las Vegas, Nevada', 'North Las Vegas city, Nevada'),
 ('Paradise, Nevada', 'Paradise CDP, Nevada'),
 ('Reno, Nevada', 'Reno city, Nevada'),
 ('Sparks, Nevada', 'Sparks city, Nevada'),
 ('Spring Valley, Nevada', 'Spring Valley CDP, Nevada'),
 ('Sunrise Manor, Nevada', 'Sunrise Manor CDP, Nevada'),
 ('Manchester, New Hampshire', 'Manchester city, New Hampshire'),
 ('Elizabeth, New Jersey', 'Elizabeth city, New Jersey'),
 ('Jersey City, New Jersey', 'Jersey City city, New Jersey'),
 ('Newark, New Jersey', 'Newark city, New Jersey'),
 ('Paterson, New Jersey', 'Paterson city, New Jersey'),
 ('Albuquerque, New Mexico', 'Albuquerque city, New Mexico'),
 ('Las Cruces, New Mexico', 'Las Cruces city, New Mexico'),
 ('Buffalo, New York', 'Buffalo city, New York'),
 ('New York, New York', 'New York city, New York'),
 ('Rochester, New York', 'Rochester city, New York'),
 ('Syracuse, New York', 'Syracuse city, New York'),
 ('Yonkers, New York', 'Yonkers city, New York'),
 ('Cary town, North Carolina', 'Cary town, North Carolina'),
 ('Charlotte, North Carolina', 'Charlotte city, North Carolina'),
 ('Durham, North Carolina', 'Durham city, North Carolina'),
 ('Fayetteville, North Carolina', 'Fayetteville city, North Carolina'),
 ('Greensboro, North Carolina', 'Greensboro city, North Carolina'),
 ('High Point, North Carolina', 'High Point city, North Carolina'),
 ('Raleigh, North Carolina', 'Raleigh city, North Carolina'),
 ('Wilmington, North Carolina', 'Wilmington city, North Carolina'),
 ('Winston-Salem, North Carolina', 'Winston-Salem city, North Carolina'),
 ('Fargo, North Dakota', 'Fargo city, North Dakota'),
 ('Akron, Ohio', 'Akron city, Ohio'),
 ('Cincinnati, Ohio', 'Cincinnati city, Ohio'),
 ('Cleveland, Ohio', 'Cleveland city, Ohio'),
 ('Columbus, Ohio', 'Columbus city, Ohio'),
 ('Dayton, Ohio', 'Dayton city, Ohio'),
 ('Toledo, Ohio', 'Toledo city, Ohio'),
 ('Broken Arrow, Oklahoma', 'Broken Arrow city, Oklahoma'),
 ('Norman, Oklahoma', 'Norman city, Oklahoma'),
 ('Oklahoma City, Oklahoma', 'Oklahoma City city, Oklahoma'),
 ('Tulsa, Oklahoma', 'Tulsa city, Oklahoma'),
 ('Bend, Oregon', 'Bend city, Oregon'),
 ('Eugene, Oregon', 'Eugene city, Oregon'),
 ('Gresham, Oregon', 'Gresham city, Oregon'),
 ('Hillsboro, Oregon', 'Hillsboro city, Oregon'),
 ('Portland, Oregon', 'Portland city, Oregon'),
 ('Salem, Oregon', 'Salem city, Oregon'),
 ('Allentown, Pennsylvania', 'Allentown city, Pennsylvania'),
 ('Philadelphia, Pennsylvania', 'Philadelphia city, Pennsylvania'),
 ('Pittsburgh, Pennsylvania', 'Pittsburgh city, Pennsylvania'),
 ('Providence, Rhode Island', 'Providence city, Rhode Island'),
 ('Charleston, South Carolina', 'Charleston city, South Carolina'),
 ('Columbia, South Carolina', 'Columbia city, South Carolina'),
 ('North Charleston, South Carolina', 'North Charleston city, South Carolina'),
 ('Sioux Falls, South Dakota', 'Sioux Falls city, South Dakota'),
 ('Chattanooga, Tennessee', 'Chattanooga city, Tennessee'),
 ('Clarksville, Tennessee', 'Clarksville city, Tennessee'),
 ('Knoxville, Tennessee', 'Knoxville city, Tennessee'),
 ('Memphis, Tennessee', 'Memphis city, Tennessee'),
 ('Murfreesboro, Tennessee', 'Murfreesboro city, Tennessee'),
 ('Nashville-Davidson metropolitan government, Tennessee',
  'Nashville-Davidson metropolitan government (balance), Tennessee'),
 ('Abilene, Texas', 'Abilene city, Texas'),
 ('Allen, Texas', 'Allen city, Texas'),
 ('Amarillo, Texas', 'Amarillo city, Texas'),
 ('Arlington, Texas', 'Arlington city, Texas'),
 ('Austin, Texas', 'Austin city, Texas'),
 ('Beaumont, Texas', 'Beaumont city, Texas'),
 ('Brownsville, Texas', 'Brownsville city, Texas'),
 ('Carrollton, Texas', 'Carrollton city, Texas'),
 ('College Station, Texas', 'College Station city, Texas'),
 ('Corpus Christi, Texas', 'Corpus Christi city, Texas'),
 ('Dallas, Texas', 'Dallas city, Texas'),
 ('Denton, Texas', 'Denton city, Texas'),
 ('Edinburg, Texas', 'Edinburg city, Texas'),
 ('El Paso, Texas', 'El Paso city, Texas'),
 ('Fort Worth, Texas', 'Fort Worth city, Texas'),
 ('Frisco, Texas', 'Frisco city, Texas'),
 ('Garland, Texas', 'Garland city, Texas'),
 ('Grand Prairie, Texas', 'Grand Prairie city, Texas'),
 ('Houston, Texas', 'Houston city, Texas'),
 ('Irving, Texas', 'Irving city, Texas'),
 ('Killeen, Texas', 'Killeen city, Texas'),
 ('Laredo, Texas', 'Laredo city, Texas'),
 ('League City, Texas', 'League City city, Texas'),
 ('Lewisville, Texas', 'Lewisville city, Texas'),
 ('Lubbock, Texas', 'Lubbock city, Texas'),
 ('McAllen, Texas', 'McAllen city, Texas'),
 ('McKinney, Texas', 'McKinney city, Texas'),
 ('Mesquite, Texas', 'Mesquite city, Texas'),
 ('Midland, Texas', 'Midland city, Texas'),
 ('Odessa, Texas', 'Odessa city, Texas'),
 ('Pasadena, Texas', 'Pasadena city, Texas'),
 ('Pearland, Texas', 'Pearland city, Texas'),
 ('Plano, Texas', 'Plano city, Texas'),
 ('Richardson, Texas', 'Richardson city, Texas'),
 ('Round Rock, Texas', 'Round Rock city, Texas'),
 ('San Antonio, Texas', 'San Antonio city, Texas'),
 ('Sugar Land, Texas', 'Sugar Land city, Texas'),
 ('The Woodlands, Texas', 'The Woodlands CDP, Texas'),
 ('Tyler, Texas', 'Tyler city, Texas'),
 ('Waco, Texas', 'Waco city, Texas'),
 ('Wichita Falls, Texas', 'Wichita Falls city, Texas'),
 ('Provo, Utah', 'Provo city, Utah'),
 ('Salt Lake City, Utah', 'Salt Lake City city, Utah'),
 ('West Jordan, Utah', 'West Jordan city, Utah'),
 ('West Valley City, Utah', 'West Valley City city, Utah'),
 ('Alexandria, Virginia', 'Alexandria city, Virginia'),
 ('Arlington, Virginia', 'Arlington CDP, Virginia'),
 ('Chesapeake, Virginia', 'Chesapeake city, Virginia'),
 ('Hampton, Virginia', 'Hampton city, Virginia'),
 ('Newport News, Virginia', 'Newport News city, Virginia'),
 ('Norfolk, Virginia', 'Norfolk city, Virginia'),
 ('Richmond, Virginia', 'Richmond city, Virginia'),
 ('Virginia Beach, Virginia', 'Virginia Beach city, Virginia'),
 ('Bellevue, Washington', 'Bellevue city, Washington'),
 ('Everett, Washington', 'Everett city, Washington'),
 ('Kent, Washington', 'Kent city, Washington'),
 ('Renton, Washington', 'Renton city, Washington'),
 ('Seattle, Washington', 'Seattle city, Washington'),
 ('Spokane, Washington', 'Spokane city, Washington'),
 ('Spokane Valley, Washington', 'Spokane Valley city, Washington'),
 ('Tacoma, Washington', 'Tacoma city, Washington'),
 ('Vancouver, Washington', 'Vancouver city, Washington'),
 ('Green Bay, Wisconsin', 'Green Bay city, Wisconsin'),
 ('Madison, Wisconsin', 'Madison city, Wisconsin'),
 ('Milwaukee, Wisconsin', 'Milwaukee city, Wisconsin'),
 ('Highlands Ranch, Colorado', 'Highlands Ranch CDP, Colorado'),
 ('San Angelo, Texas', 'San Angelo city, Texas'),
 ('Kenosha, Wisconsin', 'Kenosha city, Wisconsin'),
 ('Erie, Pennsylvania', 'Erie city, Pennsylvania')]

In [15]:
#deviding the names to chuncks for later use
chunk_size = 10
city_name_copy = city_names
chuncks = []
while city_name_copy:
    chunk, city_name_copy = city_name_copy[:chunk_size], city_name_copy[chunk_size:]
    chuncks.append(chunk)
chuncks

[[('Birmingham, Alabama', 'Birmingham city, Alabama'),
  ('Huntsville, Alabama', 'Huntsville city, Alabama'),
  ('Mobile, Alabama', 'Mobile city, Alabama'),
  ('Montgomery, Alabama', 'Montgomery city, Alabama'),
  ('Tuscaloosa, Alabama', 'Tuscaloosa city, Alabama'),
  ('Anchorage, Alaska', 'Anchorage municipality, Alaska'),
  ('Chandler, Arizona', 'Chandler city, Arizona'),
  ('Gilbert town, Arizona', 'Gilbert town, Arizona'),
  ('Glendale, Arizona', 'Glendale city, Arizona'),
  ('Mesa, Arizona', 'Mesa city, Arizona')],
 [('Peoria, Arizona', 'Peoria city, Arizona'),
  ('Phoenix, Arizona', 'Phoenix city, Arizona'),
  ('San Tan Valley, Arizona', 'San Tan Valley CDP, Arizona'),
  ('Scottsdale, Arizona', 'Scottsdale city, Arizona'),
  ('Surprise, Arizona', 'Surprise city, Arizona'),
  ('Tempe, Arizona', 'Tempe city, Arizona'),
  ('Tucson, Arizona', 'Tucson city, Arizona'),
  ('Little Rock, Arkansas', 'Little Rock city, Arkansas'),
  ('Anaheim, California', 'Anaheim city, California'),
  ('Antioch, California', 'Antioch city, California')],
 [('Arden-Arcade, California', 'Arden-Arcade CDP, California'),
  ('Bakersfield, California', 'Bakersfield city, California'),
  ('Berkeley, California', 'Berkeley city, California'),
  ('Burbank, California', 'Burbank city, California'),
  ('Carlsbad, California', 'Carlsbad city, California'),
  ('Chico, California', 'Chico city, California'),
  ('Chula Vista, California', 'Chula Vista city, California'),
  ('Clovis, California', 'Clovis city, California'),
  ('Concord, California', 'Concord city, California'),
  ('Corona, California', 'Corona city, California')],
 [('Costa Mesa, California', 'Costa Mesa city, California'),
  ('Daly City, California', 'Daly City city, California'),
  ('Downey, California', 'Downey city, California'),
  ('East Los Angeles, California', 'East Los Angeles CDP, California'),
  ('El Cajon, California', 'El Cajon city, California'),
  ('Elk Grove, California', 'Elk Grove city, California'),
  ('El Monte, California', 'El Monte city, California'),
  ('Escondido, California', 'Escondido city, California'),
  ('Fairfield, California', 'Fairfield city, California'),
  ('Fontana, California', 'Fontana city, California')],
 [('Fremont, California', 'Fremont city, California'),
  ('Fresno, California', 'Fresno city, California'),
  ('Fullerton, California', 'Fullerton city, California'),
  ('Garden Grove, California', 'Garden Grove city, California'),
  ('Glendale, California', 'Glendale city, California'),
  ('Hayward, California', 'Hayward city, California'),
  ('Huntington Beach, California', 'Huntington Beach city, California'),
  ('Inglewood, California', 'Inglewood city, California'),
  ('Irvine, California', 'Irvine city, California'),
  ('Jurupa Valley, California', 'Jurupa Valley city, California')],
 [('Lancaster, California', 'Lancaster city, California'),
  ('Long Beach, California', 'Long Beach city, California'),
  ('Los Angeles, California', 'Los Angeles city, California'),
  ('Modesto, California', 'Modesto city, California'),
  ('Moreno Valley, California', 'Moreno Valley city, California'),
  ('Murrieta, California', 'Murrieta city, California'),
  ('Norwalk, California', 'Norwalk city, California'),
  ('Oakland, California', 'Oakland city, California'),
  ('Oceanside, California', 'Oceanside city, California'),
  ('Ontario, California', 'Ontario city, California')],
 [('Orange, California', 'Orange city, California'),
  ('Oxnard, California', 'Oxnard city, California'),
  ('Palmdale, California', 'Palmdale city, California'),
  ('Pasadena, California', 'Pasadena city, California'),
  ('Pomona, California', 'Pomona city, California'),
  ('Rancho Cucamonga, California', 'Rancho Cucamonga city, California'),
  ('Rialto, California', 'Rialto city, California'),
  ('Richmond, California', 'Richmond city, California'),
  ('Riverside, California', 'Riverside city, California'),
  ('Roseville, California', 'Roseville city, California')],
 [('Sacramento, California', 'Sacramento city, California'),
  ('Salinas, California', 'Salinas city, California'),
  ('San Bernardino, California', 'San Bernardino city, California'),
  ('San Buenaventura, California',
   'San Buenaventura (Ventura) city, California'),
  ('San Diego, California', 'San Diego city, California'),
  ('San Francisco, California', 'San Francisco city, California'),
  ('San Jose, California', 'San Jose city, California'),
  ('San Mateo, California', 'San Mateo city, California'),
  ('Santa Ana, California', 'Santa Ana city, California'),
  ('Santa Clara, California', 'Santa Clara city, California')],
 [('Santa Clarita, California', 'Santa Clarita city, California'),
  ('Santa Maria, California', 'Santa Maria city, California'),
  ('Santa Rosa, California', 'Santa Rosa city, California'),
  ('Simi Valley, California', 'Simi Valley city, California'),
  ('Stockton, California', 'Stockton city, California'),
  ('Sunnyvale, California', 'Sunnyvale city, California'),
  ('Temecula, California', 'Temecula city, California'),
  ('Thousand Oaks, California', 'Thousand Oaks city, California'),
  ('Torrance, California', 'Torrance city, California'),
  ('Vacaville, California', 'Vacaville city, California')],
 [('Vallejo, California', 'Vallejo city, California'),
  ('Victorville, California', 'Victorville city, California'),
  ('Visalia, California', 'Visalia city, California'),
  ('Vista, California', 'Vista city, California'),
  ('West Covina, California', 'West Covina city, California'),
  ('Arvada, Colorado', 'Arvada city, Colorado'),
  ('Aurora, Colorado', 'Aurora city, Colorado'),
  ('Boulder, Colorado', 'Boulder city, Colorado'),
  ('Centennial, Colorado', 'Centennial city, Colorado'),
  ('Colorado Springs, Colorado', 'Colorado Springs city, Colorado')],
 [('Denver, Colorado', 'Denver city, Colorado'),
  ('Fort Collins, Colorado', 'Fort Collins city, Colorado'),
  ('Greeley, Colorado', 'Greeley city, Colorado'),
  ('Lakewood, Colorado', 'Lakewood city, Colorado'),
  ('Pueblo, Colorado', 'Pueblo city, Colorado'),
  ('Thornton, Colorado', 'Thornton city, Colorado'),
  ('Westminster, Colorado', 'Westminster city, Colorado'),
  ('Bridgeport, Connecticut', 'Bridgeport city, Connecticut'),
  ('Hartford, Connecticut', 'Hartford city, Connecticut'),
  ('New Haven, Connecticut', 'New Haven city, Connecticut')],
 [('Stamford, Connecticut', 'Stamford city, Connecticut'),
  ('Waterbury, Connecticut', 'Waterbury city, Connecticut'),
  ('Washington, District of Columbia',
   'Washington city, District of Columbia'),
  ('Brandon, Florida', 'Brandon CDP, Florida'),
  ('Cape Coral, Florida', 'Cape Coral city, Florida'),
  ('Clearwater, Florida', 'Clearwater city, Florida'),
  ('Coral Springs, Florida', 'Coral Springs city, Florida'),
  ('Davie town, Florida', 'Davie town, Florida'),
  ('Fort Lauderdale, Florida', 'Fort Lauderdale city, Florida'),
  ('Gainesville, Florida', 'Gainesville city, Florida')],
 [('Hialeah, Florida', 'Hialeah city, Florida'),
  ('Hollywood, Florida', 'Hollywood city, Florida'),
  ('Jacksonville, Florida', 'Jacksonville city, Florida'),
  ('Lakeland, Florida', 'Lakeland city, Florida'),
  ('Lehigh Acres, Florida', 'Lehigh Acres CDP, Florida'),
  ('Miami, Florida', 'Miami city, Florida'),
  ('Miami Gardens, Florida', 'Miami Gardens city, Florida'),
  ('Miramar, Florida', 'Miramar city, Florida'),
  ('Orlando, Florida', 'Orlando city, Florida'),
  ('Palm Bay, Florida', 'Palm Bay city, Florida')],
 [('Pembroke Pines, Florida', 'Pembroke Pines city, Florida'),
  ('Pompano Beach, Florida', 'Pompano Beach city, Florida'),
  ('Port St. Lucie, Florida', 'Port St. Lucie city, Florida'),
  ('St. Petersburg, Florida', 'St. Petersburg city, Florida'),
  ('Spring Hill, Florida', 'Spring Hill CDP, Florida'),
  ('Tallahassee, Florida', 'Tallahassee city, Florida'),
  ('Tampa, Florida', 'Tampa city, Florida'),
  ('West Palm Beach, Florida', 'West Palm Beach city, Florida'),
  ('Athens-Clarke County unified government, Georgia',
   'Athens-Clarke County unified government (balance), Georgia'),
  ('Atlanta, Georgia', 'Atlanta city, Georgia')],
 [('Augusta-Richmond County consolidated government, Georgia',
   'Augusta-Richmond County consolidated government (balance), Georgia'),
  ('Columbus, Georgia', 'Columbus city, Georgia'),
  ('Macon-Bibb County, Georgia', 'Macon-Bibb County, Georgia'),
  ('Sandy Springs, Georgia', 'Sandy Springs city, Georgia'),
  ('Savannah, Georgia', 'Savannah city, Georgia'),
  ('Honolulu, Hawaii', 'Urban Honolulu CDP, Hawaii'),
  ('Boise City, Idaho', 'Boise City city, Idaho'),
  ('Meridian, Idaho', 'Meridian city, Idaho'),
  ('Aurora, Illinois', 'Aurora city, Illinois'),
  ('Chicago, Illinois', 'Chicago city, Illinois')],
 [('Elgin, Illinois', 'Elgin city, Illinois'),
  ('Joliet, Illinois', 'Joliet city, Illinois'),
  ('Naperville, Illinois', 'Naperville city, Illinois'),
  ('Peoria, Illinois', 'Peoria city, Illinois'),
  ('Rockford, Illinois', 'Rockford city, Illinois'),
  ('Springfield, Illinois', 'Springfield city, Illinois'),
  ('Carmel, Indiana', 'Carmel city, Indiana'),
  ('Evansville, Indiana', 'Evansville city, Indiana'),
  ('Fort Wayne, Indiana', 'Fort Wayne city, Indiana'),
  ('Indianapolis, Indiana', 'Indianapolis city (balance), Indiana')],
 [('South Bend, Indiana', 'South Bend city, Indiana'),
  ('Cedar Rapids, Iowa', 'Cedar Rapids city, Iowa'),
  ('Davenport, Iowa', 'Davenport city, Iowa'),
  ('Des Moines, Iowa', 'Des Moines city, Iowa'),
  ('Kansas City, Kansas', 'Kansas City city, Kansas'),
  ('Olathe, Kansas', 'Olathe city, Kansas'),
  ('Overland Park, Kansas', 'Overland Park city, Kansas'),
  ('Topeka, Kansas', 'Topeka city, Kansas'),
  ('Wichita, Kansas', 'Wichita city, Kansas'),
  ('Lexington-Fayette urban county, Kentucky',
   'Lexington-Fayette urban county, Kentucky')],
 [('Baton Rouge, Louisiana', 'Baton Rouge city, Louisiana'),
  ('Lafayette, Louisiana', 'Lafayette city, Louisiana'),
  ('Metairie, Louisiana', 'Metairie CDP, Louisiana'),
  ('New Orleans, Louisiana', 'New Orleans city, Louisiana'),
  ('Shreveport, Louisiana', 'Shreveport city, Louisiana'),
  ('Baltimore, Maryland', 'Baltimore city, Maryland'),
  ('Columbia, Maryland', 'Columbia CDP, Maryland'),
  ('Boston, Massachusetts', 'Boston city, Massachusetts'),
  ('Cambridge, Massachusetts', 'Cambridge city, Massachusetts'),
  ('Lowell, Massachusetts', 'Lowell city, Massachusetts')],
 [('Springfield, Massachusetts', 'Springfield city, Massachusetts'),
  ('Worcester, Massachusetts', 'Worcester city, Massachusetts'),
  ('Ann Arbor, Michigan', 'Ann Arbor city, Michigan'),
  ('Detroit, Michigan', 'Detroit city, Michigan'),
  ('Grand Rapids, Michigan', 'Grand Rapids city, Michigan'),
  ('Lansing, Michigan', 'Lansing city, Michigan'),
  ('Sterling Heights, Michigan', 'Sterling Heights city, Michigan'),
  ('Warren, Michigan', 'Warren city, Michigan'),
  ('Minneapolis, Minnesota', 'Minneapolis city, Minnesota'),
  ('Rochester, Minnesota', 'Rochester city, Minnesota')],
 [('St. Paul, Minnesota', 'St. Paul city, Minnesota'),
  ('Jackson, Mississippi', 'Jackson city, Mississippi'),
  ('Columbia, Missouri', 'Columbia city, Missouri'),
  ('Independence, Missouri', 'Independence city, Missouri'),
  ('Kansas City, Missouri', 'Kansas City city, Missouri'),
  ('St. Louis, Missouri', 'St. Louis city, Missouri'),
  ('Springfield, Missouri', 'Springfield city, Missouri'),
  ('Billings, Montana', 'Billings city, Montana'),
  ('Lincoln, Nebraska', 'Lincoln city, Nebraska'),
  ('Omaha, Nebraska', 'Omaha city, Nebraska')],
 [('Enterprise, Nevada', 'Enterprise CDP, Nevada'),
  ('Henderson, Nevada', 'Henderson city, Nevada'),
  ('Las Vegas, Nevada', 'Las Vegas city, Nevada'),
  ('North Las Vegas, Nevada', 'North Las Vegas city, Nevada'),
  ('Paradise, Nevada', 'Paradise CDP, Nevada'),
  ('Reno, Nevada', 'Reno city, Nevada'),
  ('Sparks, Nevada', 'Sparks city, Nevada'),
  ('Spring Valley, Nevada', 'Spring Valley CDP, Nevada'),
  ('Sunrise Manor, Nevada', 'Sunrise Manor CDP, Nevada'),
  ('Manchester, New Hampshire', 'Manchester city, New Hampshire')],
 [('Elizabeth, New Jersey', 'Elizabeth city, New Jersey'),
  ('Jersey City, New Jersey', 'Jersey City city, New Jersey'),
  ('Newark, New Jersey', 'Newark city, New Jersey'),
  ('Paterson, New Jersey', 'Paterson city, New Jersey'),
  ('Albuquerque, New Mexico', 'Albuquerque city, New Mexico'),
  ('Las Cruces, New Mexico', 'Las Cruces city, New Mexico'),
  ('Buffalo, New York', 'Buffalo city, New York'),
  ('New York, New York', 'New York city, New York'),
  ('Rochester, New York', 'Rochester city, New York'),
  ('Syracuse, New York', 'Syracuse city, New York')],
 [('Yonkers, New York', 'Yonkers city, New York'),
  ('Cary town, North Carolina', 'Cary town, North Carolina'),
  ('Charlotte, North Carolina', 'Charlotte city, North Carolina'),
  ('Durham, North Carolina', 'Durham city, North Carolina'),
  ('Fayetteville, North Carolina', 'Fayetteville city, North Carolina'),
  ('Greensboro, North Carolina', 'Greensboro city, North Carolina'),
  ('High Point, North Carolina', 'High Point city, North Carolina'),
  ('Raleigh, North Carolina', 'Raleigh city, North Carolina'),
  ('Wilmington, North Carolina', 'Wilmington city, North Carolina'),
  ('Winston-Salem, North Carolina', 'Winston-Salem city, North Carolina')],
 [('Fargo, North Dakota', 'Fargo city, North Dakota'),
  ('Akron, Ohio', 'Akron city, Ohio'),
  ('Cincinnati, Ohio', 'Cincinnati city, Ohio'),
  ('Cleveland, Ohio', 'Cleveland city, Ohio'),
  ('Columbus, Ohio', 'Columbus city, Ohio'),
  ('Dayton, Ohio', 'Dayton city, Ohio'),
  ('Toledo, Ohio', 'Toledo city, Ohio'),
  ('Broken Arrow, Oklahoma', 'Broken Arrow city, Oklahoma'),
  ('Norman, Oklahoma', 'Norman city, Oklahoma'),
  ('Oklahoma City, Oklahoma', 'Oklahoma City city, Oklahoma')],
 [('Tulsa, Oklahoma', 'Tulsa city, Oklahoma'),
  ('Bend, Oregon', 'Bend city, Oregon'),
  ('Eugene, Oregon', 'Eugene city, Oregon'),
  ('Gresham, Oregon', 'Gresham city, Oregon'),
  ('Hillsboro, Oregon', 'Hillsboro city, Oregon'),
  ('Portland, Oregon', 'Portland city, Oregon'),
  ('Salem, Oregon', 'Salem city, Oregon'),
  ('Allentown, Pennsylvania', 'Allentown city, Pennsylvania'),
  ('Philadelphia, Pennsylvania', 'Philadelphia city, Pennsylvania'),
  ('Pittsburgh, Pennsylvania', 'Pittsburgh city, Pennsylvania')],
 [('Providence, Rhode Island', 'Providence city, Rhode Island'),
  ('Charleston, South Carolina', 'Charleston city, South Carolina'),
  ('Columbia, South Carolina', 'Columbia city, South Carolina'),
  ('North Charleston, South Carolina',
   'North Charleston city, South Carolina'),
  ('Sioux Falls, South Dakota', 'Sioux Falls city, South Dakota'),
  ('Chattanooga, Tennessee', 'Chattanooga city, Tennessee'),
  ('Clarksville, Tennessee', 'Clarksville city, Tennessee'),
  ('Knoxville, Tennessee', 'Knoxville city, Tennessee'),
  ('Memphis, Tennessee', 'Memphis city, Tennessee'),
  ('Murfreesboro, Tennessee', 'Murfreesboro city, Tennessee')],
 [('Nashville-Davidson metropolitan government, Tennessee',
   'Nashville-Davidson metropolitan government (balance), Tennessee'),
  ('Abilene, Texas', 'Abilene city, Texas'),
  ('Allen, Texas', 'Allen city, Texas'),
  ('Amarillo, Texas', 'Amarillo city, Texas'),
  ('Arlington, Texas', 'Arlington city, Texas'),
  ('Austin, Texas', 'Austin city, Texas'),
  ('Beaumont, Texas', 'Beaumont city, Texas'),
  ('Brownsville, Texas', 'Brownsville city, Texas'),
  ('Carrollton, Texas', 'Carrollton city, Texas'),
  ('College Station, Texas', 'College Station city, Texas')],
 [('Corpus Christi, Texas', 'Corpus Christi city, Texas'),
  ('Dallas, Texas', 'Dallas city, Texas'),
  ('Denton, Texas', 'Denton city, Texas'),
  ('Edinburg, Texas', 'Edinburg city, Texas'),
  ('El Paso, Texas', 'El Paso city, Texas'),
  ('Fort Worth, Texas', 'Fort Worth city, Texas'),
  ('Frisco, Texas', 'Frisco city, Texas'),
  ('Garland, Texas', 'Garland city, Texas'),
  ('Grand Prairie, Texas', 'Grand Prairie city, Texas'),
  ('Houston, Texas', 'Houston city, Texas')],
 [('Irving, Texas', 'Irving city, Texas'),
  ('Killeen, Texas', 'Killeen city, Texas'),
  ('Laredo, Texas', 'Laredo city, Texas'),
  ('League City, Texas', 'League City city, Texas'),
  ('Lewisville, Texas', 'Lewisville city, Texas'),
  ('Lubbock, Texas', 'Lubbock city, Texas'),
  ('McAllen, Texas', 'McAllen city, Texas'),
  ('McKinney, Texas', 'McKinney city, Texas'),
  ('Mesquite, Texas', 'Mesquite city, Texas'),
  ('Midland, Texas', 'Midland city, Texas')],
 [('Odessa, Texas', 'Odessa city, Texas'),
  ('Pasadena, Texas', 'Pasadena city, Texas'),
  ('Pearland, Texas', 'Pearland city, Texas'),
  ('Plano, Texas', 'Plano city, Texas'),
  ('Richardson, Texas', 'Richardson city, Texas'),
  ('Round Rock, Texas', 'Round Rock city, Texas'),
  ('San Antonio, Texas', 'San Antonio city, Texas'),
  ('Sugar Land, Texas', 'Sugar Land city, Texas'),
  ('The Woodlands, Texas', 'The Woodlands CDP, Texas'),
  ('Tyler, Texas', 'Tyler city, Texas')],
 [('Waco, Texas', 'Waco city, Texas'),
  ('Wichita Falls, Texas', 'Wichita Falls city, Texas'),
  ('Provo, Utah', 'Provo city, Utah'),
  ('Salt Lake City, Utah', 'Salt Lake City city, Utah'),
  ('West Jordan, Utah', 'West Jordan city, Utah'),
  ('West Valley City, Utah', 'West Valley City city, Utah'),
  ('Alexandria, Virginia', 'Alexandria city, Virginia'),
  ('Arlington, Virginia', 'Arlington CDP, Virginia'),
  ('Chesapeake, Virginia', 'Chesapeake city, Virginia'),
  ('Hampton, Virginia', 'Hampton city, Virginia')],
 [('Newport News, Virginia', 'Newport News city, Virginia'),
  ('Norfolk, Virginia', 'Norfolk city, Virginia'),
  ('Richmond, Virginia', 'Richmond city, Virginia'),
  ('Virginia Beach, Virginia', 'Virginia Beach city, Virginia'),
  ('Bellevue, Washington', 'Bellevue city, Washington'),
  ('Everett, Washington', 'Everett city, Washington'),
  ('Kent, Washington', 'Kent city, Washington'),
  ('Renton, Washington', 'Renton city, Washington'),
  ('Seattle, Washington', 'Seattle city, Washington'),
  ('Spokane, Washington', 'Spokane city, Washington')],
 [('Spokane Valley, Washington', 'Spokane Valley city, Washington'),
  ('Tacoma, Washington', 'Tacoma city, Washington'),
  ('Vancouver, Washington', 'Vancouver city, Washington'),
  ('Green Bay, Wisconsin', 'Green Bay city, Wisconsin'),
  ('Madison, Wisconsin', 'Madison city, Wisconsin'),
  ('Milwaukee, Wisconsin', 'Milwaukee city, Wisconsin'),
  ('Highlands Ranch, Colorado', 'Highlands Ranch CDP, Colorado'),
  ('San Angelo, Texas', 'San Angelo city, Texas'),
  ('Kenosha, Wisconsin', 'Kenosha city, Wisconsin'),
  ('Erie, Pennsylvania', 'Erie city, Pennsylvania')]]

Using a bot to gather crime statistics on a city.

In [16]:
###crawler
def scrap_data(chuncks):
    good_chuncks = []
    good_cities = []
    dfs = []
    i = 5
    
    for cities in chuncks:
        crime = CrimeStat()
        try:
            time.sleep(40)
            crime.page()
        except:
            good_chuncks.append(cities)
            crime.quit()
            continue
        for city in cities:
            flag = 1
            i = i % 10 + 1
            time.sleep(i)
            try:
                df,flag = crime.crime_scrap(city,flag)
            except:
                i = i+1
                good_cities.append(city[1])
                if flag:
                    crime.back()
                time.sleep(2)
                continue
            if df is not None:
                dfs.append(df)    
            try:
                crime.back()
            except:
                print(city[0])
                pass
            i = i + 1
            time.sleep(3)
            
        crime.quit()
            
    return pd.concat(dfs,ignore_index=True),good_cities,good_chuncks

In [23]:
crime_df,good_cities,good_chuncks = scrap_data(chuncks[1:])

San Diego, California
San Mateo, California
Hartford, Connecticut
Overland Park, Kansas
New Orleans, Louisiana
Rochester, New York
Murfreesboro, Tennessee

In [25]:
print(good_chuncks)
print(good_cities)
crime_df

[]
['Baltimore city, Maryland']

,city_name,Year,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto thefts (per 100,000)","Arson (per 100,000)",City-Data.com crime index
0,"Peoria city, Arizona",2007,4.1,27.8,69.3,139.9,902.7,2511.0,527.1,11.5,285.0
1,"Peoria city, Arizona",2008,5.3,33.0,68.7,101.0,790.1,2358.0,376.3,11.9,257.5
2,"Peoria city, Arizona",2009,5.5,32.2,53.5,102.8,682.6,2009.0,271.3,4.9,223.2
3,"Peoria city, Arizona",2010,3.9,24.7,42.8,111.6,562.7,2194.0,248.6,9.1,209.7
4,"Peoria city, Arizona",2011,1.3,22.4,35.8,133.1,696.3,2150.0,208.6,3.8,209.3
...,...,...,...,...,...,...,...,...,...,...,...
4017,"Erie city, Pennsylvania",2016,10.1,46.5,116.1,183.8,572.6,1623.0,105.0,29.3,242.4
4018,"Erie city, Pennsylvania",2017,6.1,32.6,99.9,173.3,541.4,1651.0,110.1,43.8,215.7
4019,"Erie city, Pennsylvania",2018,11.4,40.3,94.0,163.3,434.1,1400.0,108.5,56.8,210.9
4020,"Erie city, Pennsylvania",2019,9.4,56.3,97.0,333.9,356.9,1439.0,100.2,34.4,250.3
4021,"Erie city, Pennsylvania",2020,3.2,16.9,29.5,220.4,94.9,485.0,30.6,8.4,101.2

We had a problem fetching with **Baltimore,Maryland;San Diego, California;San Mateo, California;Hartford, Connecticut;
Overland Park, Kansas; New Orleans, Louisiana ;Rochester, New York; Murfreesboro, Tennessee**.
We will try to fetch them again.But before we need to get the first chunck.

In [28]:
#save data frame for now
crime_df.to_csv('crime_data2.csv')

In [30]:
crime_df1,good_cities1,good_chuncks1 = scrap_data(chuncks[:1])
print(good_chuncks1)
print(good_cities1)
crime_df1

Mobile, Alabama
[]
[]

,city_name,Year,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto thefts (per 100,000)","Arson (per 100,000)",City-Data.com crime index
0,"Birmingham city, Alabama",2007,37.8,100.6,706.7,613.1,2136.0,5502.0,986.4,97.1,939.2
1,"Birmingham city, Alabama",2008,35.9,92.9,656.6,637.7,2257.0,5589.0,937.3,58.7,927.2
2,"Birmingham city, Alabama",2009,28.6,87.1,505.8,615.3,2207.0,5078.0,701.1,59.4,815.4
3,"Birmingham city, Alabama",2010,9.4,38.2,196.0,389.2,1229.0,2497.0,344.0,36.8,399.4
4,"Birmingham city, Alabama",2011,25.3,85.3,474.1,898.4,2723.0,4934.0,709.5,57.7,885.5
...,...,...,...,...,...,...,...,...,...,...,...
132,"Mesa city, Arizona",2016,4.0,56.9,94.1,273.9,407.7,1757.0,179.8,6.3,249.7
133,"Mesa city, Arizona",2017,4.7,51.2,92.2,267.7,381.5,1611.0,179.6,4.7,237.0
134,"Mesa city, Arizona",2018,3.4,47.1,82.6,230.8,309.6,1505.0,170.9,2.4,210.9
135,"Mesa city, Arizona",2019,1.7,50.9,66.4,217.1,261.9,1296.0,144.9,5.2,189.3
136,"Mesa city, Arizona",2020,3.6,44.6,72.1,251.4,302.8,1351.0,192.7,4.2,205.4

In [31]:
#save data frame for now
crime_df1.to_csv('./crime_data3.csv')

#####
**Lets add Mobile, Alabama too.**

In [32]:
 another_fetch =['San Diego, California','San Mateo, California','Hartford, Connecticut','Overland Park, Kansas','New Orleans, Louisiana','Rochester, New York',
                 'Murfreesboro, Tennessee','Mobile, Alabama']

In [37]:
run_again = list(filter(lambda city: city[0] in another_fetch, city_names))
run_again

[('Mobile, Alabama', 'Mobile city, Alabama'),
 ('San Diego, California', 'San Diego city, California'),
 ('San Mateo, California', 'San Mateo city, California'),
 ('Hartford, Connecticut', 'Hartford city, Connecticut'),
 ('Overland Park, Kansas', 'Overland Park city, Kansas'),
 ('New Orleans, Louisiana', 'New Orleans city, Louisiana'),
 ('Rochester, New York', 'Rochester city, New York'),
 ('Murfreesboro, Tennessee', 'Murfreesboro city, Tennessee')]

In [38]:
another_fetch = [run_again]
another_fetch

[[('Mobile, Alabama', 'Mobile city, Alabama'),
  ('San Diego, California', 'San Diego city, California'),
  ('San Mateo, California', 'San Mateo city, California'),
  ('Hartford, Connecticut', 'Hartford city, Connecticut'),
  ('Overland Park, Kansas', 'Overland Park city, Kansas'),
  ('New Orleans, Louisiana', 'New Orleans city, Louisiana'),
  ('Rochester, New York', 'Rochester city, New York'),
  ('Murfreesboro, Tennessee', 'Murfreesboro city, Tennessee')]]

In [41]:
df_crime2,good_cities2,good_chuncks2 = scrap_data(another_fetch)
print(good_chuncks2)
print(good_cities2)
df_crime2

[]
[]

,city_name,Year,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto thefts (per 100,000)","Arson (per 100,000)",City-Data.com crime index
0,"Mobile city, Alabama",2007,15.0,9.1,295.5,131.2,1438.0,3688.0,443.2,52.8,435.7
1,"Mobile city, Alabama",2008,16.7,10.8,348.5,103.6,1317.0,3772.0,426.6,46.2,444.5
2,"Mobile city, Alabama",2009,9.7,15.0,348.1,437.1,1510.0,3842.0,385.9,37.0,513.6
3,"Mobile city, Alabama",2010,10.0,23.5,260.0,384.3,1542.0,3695.0,409.0,4.4,482.1
4,"Mobile city, Alabama",2011,11.9,19.1,252.9,358.9,1611.0,3530.0,278.3,9.1,463.0
...,...,...,...,...,...,...,...,...,...,...,...
106,"Murfreesboro city, Tennessee",2016,4.6,43.9,117.2,444.8,484.1,2349.0,154.2,6.2,308.7
107,"Murfreesboro city, Tennessee",2017,3.7,71.3,105.8,368.1,383.5,2616.0,199.1,5.1,317.1
108,"Murfreesboro city, Tennessee",2018,7.8,58.3,77.5,302.1,462.7,2470.0,223.2,4.3,295.0
109,"Murfreesboro city, Tennessee",2019,4.1,69.2,72.6,282.3,351.5,2374.0,183.0,4.1,276.0
110,"Murfreesboro city, Tennessee",2020,7.2,60.0,66.5,353.8,238.5,2051.0,195.7,5.9,267.6

In [42]:
crime_data = pd.concat([crime_df1,crime_df,df_crime2],ignore_index=True)
crime_data

,city_name,Year,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto thefts (per 100,000)","Arson (per 100,000)",City-Data.com crime index
0,"Birmingham city, Alabama",2007,37.8,100.6,706.7,613.1,2136.0,5502.0,986.4,97.1,939.2
1,"Birmingham city, Alabama",2008,35.9,92.9,656.6,637.7,2257.0,5589.0,937.3,58.7,927.2
2,"Birmingham city, Alabama",2009,28.6,87.1,505.8,615.3,2207.0,5078.0,701.1,59.4,815.4
3,"Birmingham city, Alabama",2010,9.4,38.2,196.0,389.2,1229.0,2497.0,344.0,36.8,399.4
4,"Birmingham city, Alabama",2011,25.3,85.3,474.1,898.4,2723.0,4934.0,709.5,57.7,885.5
...,...,...,...,...,...,...,...,...,...,...,...
4265,"Murfreesboro city, Tennessee",2016,4.6,43.9,117.2,444.8,484.1,2349.0,154.2,6.2,308.7
4266,"Murfreesboro city, Tennessee",2017,3.7,71.3,105.8,368.1,383.5,2616.0,199.1,5.1,317.1
4267,"Murfreesboro city, Tennessee",2018,7.8,58.3,77.5,302.1,462.7,2470.0,223.2,4.3,295.0
4268,"Murfreesboro city, Tennessee",2019,4.1,69.2,72.6,282.3,351.5,2374.0,183.0,4.1,276.0
4269,"Murfreesboro city, Tennessee",2020,7.2,60.0,66.5,353.8,238.5,2051.0,195.7,5.9,267.6

In [43]:
#saving the data on crime to csv
crime_data.to_csv('./crime_data.csv')

In [7]:
crime_data = pd.read_csv('./crime_data.csv')
crime_data

,city_name,Year,"Murders (per 100,000)","Rapes (per 100,000)","Robberies (per 100,000)","Assaults (per 100,000)","Burglaries (per 100,000)","Thefts (per 100,000)","Auto thefts (per 100,000)","Arson (per 100,000)",City-Data.com crime index
0,"Birmingham city, Alabama",2007,37.8,100.6,706.7,613.1,2136.0,5502.0,986.4,97.1,939.2
1,"Birmingham city, Alabama",2008,35.9,92.9,656.6,637.7,2257.0,5589.0,937.3,58.7,927.2
2,"Birmingham city, Alabama",2009,28.6,87.1,505.8,615.3,2207.0,5078.0,701.1,59.4,815.4
3,"Birmingham city, Alabama",2010,9.4,38.2,196.0,389.2,1229.0,2497.0,344.0,36.8,399.4
4,"Birmingham city, Alabama",2011,25.3,85.3,474.1,898.4,2723.0,4934.0,709.5,57.7,885.5
...,...,...,...,...,...,...,...,...,...,...,...
4265,"Murfreesboro city, Tennessee",2016,4.6,43.9,117.2,444.8,484.1,2349.0,154.2,6.2,308.7
4266,"Murfreesboro city, Tennessee",2017,3.7,71.3,105.8,368.1,383.5,2616.0,199.1,5.1,317.1
4267,"Murfreesboro city, Tennessee",2018,7.8,58.3,77.5,302.1,462.7,2470.0,223.2,4.3,295.0
4268,"Murfreesboro city, Tennessee",2019,4.1,69.2,72.6,282.3,351.5,2374.0,183.0,4.1,276.0
4269,"Murfreesboro city, Tennessee",2020,7.2,60.0,66.5,353.8,238.5,2051.0,195.7,5.9,267.6